.mail-info-card {
  display: flex;
  border: 1px solid var(--clr-border);
  border-radius: 5px;
  margin: 1rem 0;
  padding: 0.5rem 2rem;
  background-color: #fff;
  cursor: pointer;
}

.mail-info-card[data-active-email='true'] {
  border-color: var(--clr-accent);
}

.mail-info-card[data-read-email='true'] {
  background-color: var(--clr-background-secondary);
}

.info-content-container {
  margin-left: 1rem;
}

.info-content-container p {
  margin-bottom: 0.25rem;
}

.info-content-container .text-bold {
  font-weight: 500;
}

.favorite-status {
  color: var(--clr-accent);
  margin-left: 1rem;
  font-weight: 600;
}
